<nav id="nav">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Dropdown", pages_test_path %></li>
		<li><%= link_to "Left Sidebar", users_login_path %></li>
		<li><a href="right-sidebar.html">Right Sidebar</a></li>
		<li><a href="no-sidebar.html">No Sidebar</a></li>
	</ul>
</nav>